.rel- {
  /*
			TODO:
			- modal
			- slides
			- accordion
			- stack
			- tooltip
			- card
			- footer
			- media
		*/
}

.rel-brick {
  background-color: #ddd;
  border: 2px solid #fff;
  min-height: 30px;
  height: 30px;
}

.rel-nav {
  height: 2.8em;
  width: 100%;
  padding: 0;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background: #369;
  color: #fff;
}

.rel-nav a,
.rel-nav a:visited {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.rel-nav>a {
  min-height: initial;
  width: 1.6em;
  padding: 0;
  font-size: 1.8em;
  text-align: center;
  transition: margin-left 0.3s;
  line-height: 1.6em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif !important;
}

.rel-nav #menu {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background: #fff;
  color: #369;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.3s;
  overflow-x: hidden;
  z-index: 999;
  display: none;
  height: 100%;
  width: 100%;
  list-style: none;
}

.rel-nav #menu>li {
  float: left;
  height: 2.5em;
  cursor: pointer;
  width: 100%;
}

.rel-nav #menu>li>a {
  height: 100%;
  line-height: 2.6em;
}

.rel-nav #menu:target {
  display: block;
  width: 300px;
}

.rel-nav #menu:target~a {
  margin-left: 300px;
}

.rel-nav #menu:target~#show {
  display: none;
}

.rel-nav #menu:target~#hide {
  display: block;
}

.rel-nav #hide {
  display: none;
}

.rel-zoom {
  overflow: scroll;
}

.rel-tree * {
  width: initial;
  clear: both;
  padding: 0 0 0 40px;
}

.rel-tree label {
  cursor: pointer;
}

.rel-tree ul {
  display: none;
}

.rel-tree input[type='checkbox'] {
  display: none;
}

.rel-tree input[type='checkbox']:checked+ul {
  display: block;
}

.rel-tabs {
  position: relative;
  width: initial;
  width: 100%;
  /*height: 300px;*/
  background-color: #369;
  padding: 2px;
}

.rel-tabs>*,
.rel-tabs>label>* {
  float: left;
  width: initial;
}

.rel-tabs table * {
  float: none;
}

.rel-tabs>label {
  haight: auto;
  width: auto\0;
  line-height: 0.2em \0;
}

@media screen and (min-height: 1px) {
  .rel-tabs>label {
    width: initial;
  }
}

.rel-tabs>label>span {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.rel-tabs>label>span>span~span {
  background-color: #a0a0a0;
  color: #fff;
  padding: 0 0.1em 0 0.1em;
  margin: 0.1em 0 0 0.1em;
  line-height: 1.9em;
  height: 1.8em;
}

.rel-tabs>label>input[type=radio] {
  position: absolute;
  height: 0;
  width: 0;
}

.rel-tabs>label>input[type=radio]:checked~span,
.rel-tabs>label>input[type=radio]:checked {
  background-color: #fff;
}

.rel-tabs>label>input[type=radio]:focus~span,
.rel-tabs>label>input[type=radio]:focus {
  background-color: #fff;
}

.rel-tabs>label>input[type=radio]:checked~span~div,
.rel-tabs>label>input[type=radio]:checked~div {
  display: table;
  width: 100%;
}

.rel-tabs>label>input[type=radio]:focus~span~div,
.rel-tabs>label>input[type=radio]:focus~div {
  display: table;
  width: 100%;
}

.rel-tabs>label>input[type=radio]:hover~span~div,
.rel-tabs>label>input[type=radio]:hover~div {
  display: block\9;
}

.rel-tabs>label>div {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  text-align: left;
  text-align: initial;
  background-color: #fff;
  overflow-y: scroll;
}

.rel-tabs>label:first-child>div {
  display: block\9;
}

.rel-tabs>label {
  text-align: center;
}

.rel-tabs>label>span {
  background-color: #369;
  color: #fff;
  padding: 4px 6px 4px 6px;
}

.rel-tabs>label>input[type=radio]:checked~span {
  color: #000;
  border-bottom: 1px solid #000;
}

.rel-tabs>label>input[type=radio]:focus~span {
  color: #000;
  border-bottom: 1px solid #000;
}

.rel-tabs>label>div {
  padding: 15px;
  border: 1px solid #a0a0a0;
  border-top: 0px solid #fff;
}

.rel-icon- {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #fff;
  text-align: left;
  text-ident: -9999px;
  direction: ltr;
}

.rel-icon-menu {
  width: 20px;
  height: 2px;
  box-shadow: inset 0 0 0 32px, 0 -6px 0 6px;
  margin: 16px 7px;
}

.gutter,
input,
iframe,
div,
select,
label,
textarea,
button,
ul,
li,
a,
pre,
main,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.1em;
}

.nogutter {
  padding: 0;
}

.margin-gutter,
select,
input,
button,
textarea {
  margin-top: 1px;
  margin-bottom: 1px;
}


/*
	Sets default sizing and behavior of all possible elements.
	This affects including elements generated by libraries that don't reset it's styles.
*/

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

input,
iframe,
div,
select,
label,
textarea,
button,
ul,
li,
a,
pre,
main,
h1,
h2,
h3,
h4,
h5,
h6 {
  float: left;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

@media (min-height: 1px) {
  input,
  iframe,
  div,
  select,
  label,
  textarea,
  button,
  ul,
  li,
  a,
  pre,
  main,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-height: 2em;
  }
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  min-height: initial;
  padding: 0;
}

label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 0;
}

label>* {
  margin: 0;
}

label>select,
label+select {
  margin-top: initial;
}

.inline,
.inline input,
.inline iframe,
.inline div,
.inline select,
.inline label,
.inline textarea,
.inline button {
  /*clear: both;*/
  width: initial;
}

h1 {
  font-size: 2.5em;
  line-height: 2.5em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

h5 {
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

h6 {
  font-size: 0.75em;
  line-height: 0.75em;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-top: 1em;
}

.center *,
.center {
  text-align: center;
  margin: 0 auto;
}


/*
	Max width containers for better view with bigger screens and small content.
*/

.container,
.container-m,
.container-l,
.container-s {
  padding: .5em;
  text-align: center;
  margin: 0 auto;
  display: block;
  float: initial;
}

.container-m {
  max-width: 900px;
}

.container-l {
  max-width: 1200px;
}

.container-s {
  max-width: 480px;
}

iframe {
  border: 0 none;
}

fieldset {
  border: 1px solid #c0c0c0;
}

label>[type=checkbox]+span,
label>[type=radio]+span {
  cursor: pointer;
}

table {
  border: 0;
  border-collapse: collapse;
}

table tr,
table th,
table td {
  border: 0;
}

table th,
table td {
  padding: 0 5px 0 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  font-weight: normal !important;
}

table th {
  line-height: 25px;
  background-color: #369;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  cursor: default;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

@media only screen and (max-width: 320px),
only screen and (min-device-pixel-ratio: 1.25) {
  * {
    font-size: 24px;
  }
}

input,
select,
textarea,
button {
  display: block;
  min-height: 1.375em;
  height: 1em;
  padding: 0.1em 0 0.1em 0;
  border-radius: 3px;
}

@media (min-height: 1px) {
  input,
  select,
  textarea,
  button {
    min-height: 2em;
    height: 2em;
  }
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
select,
textarea {
  border: 1px solid #c0c0c0;
}

label {
  min-height: 1em;
  line-height: 1em;
}

@media (min-height: 1px) {
  label {
    line-height: 2em;
  }
}

button,
input[type=submit] {
  background-color: #369;
  color: #fff;
  border: none;
  padding: 0 1em 0 1em;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 5px;
}

button,
input[type=submit],
select:not([multiple=true]) {
  cursor: pointer;
}

pre {
  background: #eee;
  border-left: 2px solid #369;
  overflow: auto;
}

.f-1-12,
.d-12>*,
.f-12 {
  width: 8.33333%;
  padding: 0.1em;
}

.jn-1-12 {
  padding-left: 0.1em;
}

.jl-1-12 {
  padding-right: 0.1em;
}

.f-2-12,
.f-1-6,
.d-6>*,
.f-6 {
  width: 16.66667%;
  padding: 0.1em;
}

.jn-2-12,
.jn-1-6 {
  padding-left: 0.1em;
}

.jl-2-12,
.jl-1-6 {
  padding-right: 0.1em;
}

.f-3-12,
.f-2-8,
.f-1-4,
.d-4>*,
.f-4 {
  width: 25%;
  padding: 0.1em;
}

.jn-3-12,
.jn-2-8,
.jn-1-4 {
  padding-left: 0.1em;
}

.jl-3-12,
.jl-2-8,
.jl-1-4 {
  padding-right: 0.1em;
}

.f-4-12,
.f-3-9,
.f-2-6,
.f-1-3,
.d-3>*,
.f-3 {
  width: 33.33333%;
  padding: 0.1em;
}

.jn-4-12,
.jn-3-9,
.jn-2-6,
.jn-1-3 {
  padding-left: 0.1em;
}

.jl-4-12,
.jl-3-9,
.jl-2-6,
.jl-1-3 {
  padding-right: 0.1em;
}

.f-5-12 {
  width: 41.66667%;
  padding: 0.1em;
}

.jn-5-12 {
  padding-left: 0.1em;
}

.jl-5-12 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-7-12 {
  width: 58.33333%;
  padding: 0.1em;
}

.jn-7-12 {
  padding-left: 0.1em;
}

.jl-7-12 {
  padding-right: 0.1em;
}

.f-8-12,
.f-6-9,
.f-4-6,
.f-2-3 {
  width: 66.66667%;
  padding: 0.1em;
}

.jn-8-12,
.jn-6-9,
.jn-4-6,
.jn-2-3 {
  padding-left: 0.1em;
}

.jl-8-12,
.jl-6-9,
.jl-4-6,
.jl-2-3 {
  padding-right: 0.1em;
}

.f-9-12,
.f-6-8,
.f-3-4 {
  width: 75%;
  padding: 0.1em;
}

.jn-9-12,
.jn-6-8,
.jn-3-4 {
  padding-left: 0.1em;
}

.jl-9-12,
.jl-6-8,
.jl-3-4 {
  padding-right: 0.1em;
}

.f-10-12,
.f-5-6 {
  width: 83.33333%;
  padding: 0.1em;
}

.jn-10-12,
.jn-5-6 {
  padding-left: 0.1em;
}

.jl-10-12,
.jl-5-6 {
  padding-right: 0.1em;
}

.f-11-12 {
  width: 91.66667%;
  padding: 0.1em;
}

.jn-11-12 {
  padding-left: 0.1em;
}

.jl-11-12 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-1-11,
.d-11>*,
.f-11 {
  width: 9.09091%;
  padding: 0.1em;
}

.jn-1-11 {
  padding-left: 0.1em;
}

.jl-1-11 {
  padding-right: 0.1em;
}

.f-2-11 {
  width: 18.18182%;
  padding: 0.1em;
}

.jn-2-11 {
  padding-left: 0.1em;
}

.jl-2-11 {
  padding-right: 0.1em;
}

.f-3-11 {
  width: 27.27273%;
  padding: 0.1em;
}

.jn-3-11 {
  padding-left: 0.1em;
}

.jl-3-11 {
  padding-right: 0.1em;
}

.f-4-11 {
  width: 36.36364%;
  padding: 0.1em;
}

.jn-4-11 {
  padding-left: 0.1em;
}

.jl-4-11 {
  padding-right: 0.1em;
}

.f-5-11 {
  width: 45.45455%;
  padding: 0.1em;
}

.jn-5-11 {
  padding-left: 0.1em;
}

.jl-5-11 {
  padding-right: 0.1em;
}

.f-6-11 {
  width: 54.54545%;
  padding: 0.1em;
}

.jn-6-11 {
  padding-left: 0.1em;
}

.jl-6-11 {
  padding-right: 0.1em;
}

.f-7-11 {
  width: 63.63636%;
  padding: 0.1em;
}

.jn-7-11 {
  padding-left: 0.1em;
}

.jl-7-11 {
  padding-right: 0.1em;
}

.f-8-11 {
  width: 72.72727%;
  padding: 0.1em;
}

.jn-8-11 {
  padding-left: 0.1em;
}

.jl-8-11 {
  padding-right: 0.1em;
}

.f-9-11 {
  width: 81.81818%;
  padding: 0.1em;
}

.jn-9-11 {
  padding-left: 0.1em;
}

.jl-9-11 {
  padding-right: 0.1em;
}

.f-10-11 {
  width: 90.90909%;
  padding: 0.1em;
}

.jn-10-11 {
  padding-left: 0.1em;
}

.jl-10-11 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-1-10,
.d-10>*,
.f-10 {
  width: 10%;
  padding: 0.1em;
}

.jn-1-10 {
  padding-left: 0.1em;
}

.jl-1-10 {
  padding-right: 0.1em;
}

.f-2-10,
.f-1-5,
.d-5>*,
.f-5 {
  width: 20%;
  padding: 0.1em;
}

.jn-2-10,
.jn-1-5 {
  padding-left: 0.1em;
}

.jl-2-10,
.jl-1-5 {
  padding-right: 0.1em;
}

.f-3-10 {
  width: 30%;
  padding: 0.1em;
}

.jn-3-10 {
  padding-left: 0.1em;
}

.jl-3-10 {
  padding-right: 0.1em;
}

.f-4-10,
.f-2-5 {
  width: 40%;
  padding: 0.1em;
}

.jn-4-10,
.jn-2-5 {
  padding-left: 0.1em;
}

.jl-4-10,
.jl-2-5 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-6-10,
.f-3-5 {
  width: 60%;
  padding: 0.1em;
}

.jn-6-10,
.jn-3-5 {
  padding-left: 0.1em;
}

.jl-6-10,
.jl-3-5 {
  padding-right: 0.1em;
}

.f-7-10 {
  width: 70%;
  padding: 0.1em;
}

.jn-7-10 {
  padding-left: 0.1em;
}

.jl-7-10 {
  padding-right: 0.1em;
}

.f-8-10,
.f-4-5 {
  width: 80%;
  padding: 0.1em;
}

.jn-8-10,
.jn-4-5 {
  padding-left: 0.1em;
}

.jl-8-10,
.jl-4-5 {
  padding-right: 0.1em;
}

.f-9-10 {
  width: 90%;
  padding: 0.1em;
}

.jn-9-10 {
  padding-left: 0.1em;
}

.jl-9-10 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-1-9,
.d-9>*,
.f-9 {
  width: 11.11111%;
  padding: 0.1em;
}

.jn-1-9 {
  padding-left: 0.1em;
}

.jl-1-9 {
  padding-right: 0.1em;
}

.f-2-9 {
  width: 22.22222%;
  padding: 0.1em;
}

.jn-2-9 {
  padding-left: 0.1em;
}

.jl-2-9 {
  padding-right: 0.1em;
}

.f-4-12,
.f-3-9,
.f-2-6,
.f-1-3,
.d-3>*,
.f-3 {
  width: 33.33333%;
  padding: 0.1em;
}

.jn-4-12,
.jn-3-9,
.jn-2-6,
.jn-1-3 {
  padding-left: 0.1em;
}

.jl-4-12,
.jl-3-9,
.jl-2-6,
.jl-1-3 {
  padding-right: 0.1em;
}

.f-4-9 {
  width: 44.44444%;
  padding: 0.1em;
}

.jn-4-9 {
  padding-left: 0.1em;
}

.jl-4-9 {
  padding-right: 0.1em;
}

.f-5-9 {
  width: 55.55556%;
  padding: 0.1em;
}

.jn-5-9 {
  padding-left: 0.1em;
}

.jl-5-9 {
  padding-right: 0.1em;
}

.f-8-12,
.f-6-9,
.f-4-6,
.f-2-3 {
  width: 66.66667%;
  padding: 0.1em;
}

.jn-8-12,
.jn-6-9,
.jn-4-6,
.jn-2-3 {
  padding-left: 0.1em;
}

.jl-8-12,
.jl-6-9,
.jl-4-6,
.jl-2-3 {
  padding-right: 0.1em;
}

.f-7-9 {
  width: 77.77778%;
  padding: 0.1em;
}

.jn-7-9 {
  padding-left: 0.1em;
}

.jl-7-9 {
  padding-right: 0.1em;
}

.f-8-9 {
  width: 88.88889%;
  padding: 0.1em;
}

.jn-8-9 {
  padding-left: 0.1em;
}

.jl-8-9 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-1-8,
.d-8>*,
.f-8 {
  width: 12.5%;
  padding: 0.1em;
}

.jn-1-8 {
  padding-left: 0.1em;
}

.jl-1-8 {
  padding-right: 0.1em;
}

.f-3-12,
.f-2-8,
.f-1-4,
.d-4>*,
.f-4 {
  width: 25%;
  padding: 0.1em;
}

.jn-3-12,
.jn-2-8,
.jn-1-4 {
  padding-left: 0.1em;
}

.jl-3-12,
.jl-2-8,
.jl-1-4 {
  padding-right: 0.1em;
}

.f-3-8 {
  width: 37.5%;
  padding: 0.1em;
}

.jn-3-8 {
  padding-left: 0.1em;
}

.jl-3-8 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-5-8 {
  width: 62.5%;
  padding: 0.1em;
}

.jn-5-8 {
  padding-left: 0.1em;
}

.jl-5-8 {
  padding-right: 0.1em;
}

.f-9-12,
.f-6-8,
.f-3-4 {
  width: 75%;
  padding: 0.1em;
}

.jn-9-12,
.jn-6-8,
.jn-3-4 {
  padding-left: 0.1em;
}

.jl-9-12,
.jl-6-8,
.jl-3-4 {
  padding-right: 0.1em;
}

.f-7-8 {
  width: 87.5%;
  padding: 0.1em;
}

.jn-7-8 {
  padding-left: 0.1em;
}

.jl-7-8 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-1-7,
.d-7>*,
.f-7 {
  width: 14.28571%;
  padding: 0.1em;
}

.jn-1-7 {
  padding-left: 0.1em;
}

.jl-1-7 {
  padding-right: 0.1em;
}

.f-2-7 {
  width: 28.57143%;
  padding: 0.1em;
}

.jn-2-7 {
  padding-left: 0.1em;
}

.jl-2-7 {
  padding-right: 0.1em;
}

.f-3-7 {
  width: 42.85714%;
  padding: 0.1em;
}

.jn-3-7 {
  padding-left: 0.1em;
}

.jl-3-7 {
  padding-right: 0.1em;
}

.f-4-7 {
  width: 57.14286%;
  padding: 0.1em;
}

.jn-4-7 {
  padding-left: 0.1em;
}

.jl-4-7 {
  padding-right: 0.1em;
}

.f-5-7 {
  width: 71.42857%;
  padding: 0.1em;
}

.jn-5-7 {
  padding-left: 0.1em;
}

.jl-5-7 {
  padding-right: 0.1em;
}

.f-6-7 {
  width: 85.71429%;
  padding: 0.1em;
}

.jn-6-7 {
  padding-left: 0.1em;
}

.jl-6-7 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-2-12,
.f-1-6,
.d-6>*,
.f-6 {
  width: 16.66667%;
  padding: 0.1em;
}

.jn-2-12,
.jn-1-6 {
  padding-left: 0.1em;
}

.jl-2-12,
.jl-1-6 {
  padding-right: 0.1em;
}

.f-4-12,
.f-3-9,
.f-2-6,
.f-1-3,
.d-3>*,
.f-3 {
  width: 33.33333%;
  padding: 0.1em;
}

.jn-4-12,
.jn-3-9,
.jn-2-6,
.jn-1-3 {
  padding-left: 0.1em;
}

.jl-4-12,
.jl-3-9,
.jl-2-6,
.jl-1-3 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-8-12,
.f-6-9,
.f-4-6,
.f-2-3 {
  width: 66.66667%;
  padding: 0.1em;
}

.jn-8-12,
.jn-6-9,
.jn-4-6,
.jn-2-3 {
  padding-left: 0.1em;
}

.jl-8-12,
.jl-6-9,
.jl-4-6,
.jl-2-3 {
  padding-right: 0.1em;
}

.f-10-12,
.f-5-6 {
  width: 83.33333%;
  padding: 0.1em;
}

.jn-10-12,
.jn-5-6 {
  padding-left: 0.1em;
}

.jl-10-12,
.jl-5-6 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-2-10,
.f-1-5,
.d-5>*,
.f-5 {
  width: 20%;
  padding: 0.1em;
}

.jn-2-10,
.jn-1-5 {
  padding-left: 0.1em;
}

.jl-2-10,
.jl-1-5 {
  padding-right: 0.1em;
}

.f-4-10,
.f-2-5 {
  width: 40%;
  padding: 0.1em;
}

.jn-4-10,
.jn-2-5 {
  padding-left: 0.1em;
}

.jl-4-10,
.jl-2-5 {
  padding-right: 0.1em;
}

.f-6-10,
.f-3-5 {
  width: 60%;
  padding: 0.1em;
}

.jn-6-10,
.jn-3-5 {
  padding-left: 0.1em;
}

.jl-6-10,
.jl-3-5 {
  padding-right: 0.1em;
}

.f-8-10,
.f-4-5 {
  width: 80%;
  padding: 0.1em;
}

.jn-8-10,
.jn-4-5 {
  padding-left: 0.1em;
}

.jl-8-10,
.jl-4-5 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-3-12,
.f-2-8,
.f-1-4,
.d-4>*,
.f-4 {
  width: 25%;
  padding: 0.1em;
}

.jn-3-12,
.jn-2-8,
.jn-1-4 {
  padding-left: 0.1em;
}

.jl-3-12,
.jl-2-8,
.jl-1-4 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-9-12,
.f-6-8,
.f-3-4 {
  width: 75%;
  padding: 0.1em;
}

.jn-9-12,
.jn-6-8,
.jn-3-4 {
  padding-left: 0.1em;
}

.jl-9-12,
.jl-6-8,
.jl-3-4 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-4-12,
.f-3-9,
.f-2-6,
.f-1-3,
.d-3>*,
.f-3 {
  width: 33.33333%;
  padding: 0.1em;
}

.jn-4-12,
.jn-3-9,
.jn-2-6,
.jn-1-3 {
  padding-left: 0.1em;
}

.jl-4-12,
.jl-3-9,
.jl-2-6,
.jl-1-3 {
  padding-right: 0.1em;
}

.f-8-12,
.f-6-9,
.f-4-6,
.f-2-3 {
  width: 66.66667%;
  padding: 0.1em;
}

.jn-8-12,
.jn-6-9,
.jn-4-6,
.jn-2-3 {
  padding-left: 0.1em;
}

.jl-8-12,
.jl-6-9,
.jl-4-6,
.jl-2-3 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-6-12,
.f-5-10,
.f-4-8,
.f-3-6,
.f-2-4,
.f-1-2,
.d-2>*,
.f-2 {
  width: 50%;
  padding: 0.1em;
}

.jn-6-12,
.jn-5-10,
.jn-4-8,
.jn-3-6,
.jn-2-4,
.jn-1-2 {
  padding-left: 0.1em;
}

.jl-6-12,
.jl-5-10,
.jl-4-8,
.jl-3-6,
.jl-2-4,
.jl-1-2 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

.f-12-12,
.f-equal:first-child:nth-last-child(12),
.f-11-11,
.f-equal:first-child:nth-last-child(11),
.f-10-10,
.f-equal:first-child:nth-last-child(10),
.f-9-9,
.f-equal:first-child:nth-last-child(9),
.f-8-8,
.f-equal:first-child:nth-last-child(8),
.f-7-7,
.f-equal:first-child:nth-last-child(7),
.f-6-6,
.f-equal:first-child:nth-last-child(6),
.f-5-5,
.f-equal:first-child:nth-last-child(5),
.f-4-4,
.f-equal:first-child:nth-last-child(4),
.f-3-3,
.f-equal:first-child:nth-last-child(3),
.f-2-2,
.f-equal:first-child:nth-last-child(2),
.f-1-1,
.d-1>*,
.f-1,
.f-equal:first-child:nth-last-child(1) {
  width: 100%;
  padding: 0.1em;
}

.jn-12-12,
.jn-11-11,
.jn-10-10,
.jn-9-9,
.jn-8-8,
.jn-7-7,
.jn-6-6,
.jn-5-5,
.jn-4-4,
.jn-3-3,
.jn-2-2,
.jn-1-1 {
  padding-left: 0.1em;
}

.jl-12-12,
.jl-11-11,
.jl-10-10,
.jl-9-9,
.jl-8-8,
.jl-7-7,
.jl-6-6,
.jl-5-5,
.jl-4-4,
.jl-3-3,
.jl-2-2,
.jl-1-1 {
  padding-right: 0.1em;
}

@media (max-width: 700px) and (min-width: 480px) {
  .m-f-1-12,
  .m-d-12>*,
  .m-f-12 {
    width: 8.33333%;
    padding: 0.1em;
  }
  .m-jn-1-12 {
    padding-left: 0.1em;
  }
  .m-jl-1-12 {
    padding-right: 0.1em;
  }
  .m-f-2-12,
  .m-f-1-6,
  .m-d-6>*,
  .m-f-6 {
    width: 16.66667%;
    padding: 0.1em;
  }
  .m-jn-2-12,
  .m-jn-1-6 {
    padding-left: 0.1em;
  }
  .m-jl-2-12,
  .m-jl-1-6 {
    padding-right: 0.1em;
  }
  .m-f-3-12,
  .m-f-2-8,
  .m-f-1-4,
  .m-d-4>*,
  .m-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .m-jn-3-12,
  .m-jn-2-8,
  .m-jn-1-4 {
    padding-left: 0.1em;
  }
  .m-jl-3-12,
  .m-jl-2-8,
  .m-jl-1-4 {
    padding-right: 0.1em;
  }
  .m-f-4-12,
  .m-f-3-9,
  .m-f-2-6,
  .m-f-1-3,
  .m-d-3>*,
  .m-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .m-jn-4-12,
  .m-jn-3-9,
  .m-jn-2-6,
  .m-jn-1-3 {
    padding-left: 0.1em;
  }
  .m-jl-4-12,
  .m-jl-3-9,
  .m-jl-2-6,
  .m-jl-1-3 {
    padding-right: 0.1em;
  }
  .m-f-5-12 {
    width: 41.66667%;
    padding: 0.1em;
  }
  .m-jn-5-12 {
    padding-left: 0.1em;
  }
  .m-jl-5-12 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-7-12 {
    width: 58.33333%;
    padding: 0.1em;
  }
  .m-jn-7-12 {
    padding-left: 0.1em;
  }
  .m-jl-7-12 {
    padding-right: 0.1em;
  }
  .m-f-8-12,
  .m-f-6-9,
  .m-f-4-6,
  .m-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .m-jn-8-12,
  .m-jn-6-9,
  .m-jn-4-6,
  .m-jn-2-3 {
    padding-left: 0.1em;
  }
  .m-jl-8-12,
  .m-jl-6-9,
  .m-jl-4-6,
  .m-jl-2-3 {
    padding-right: 0.1em;
  }
  .m-f-9-12,
  .m-f-6-8,
  .m-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .m-jn-9-12,
  .m-jn-6-8,
  .m-jn-3-4 {
    padding-left: 0.1em;
  }
  .m-jl-9-12,
  .m-jl-6-8,
  .m-jl-3-4 {
    padding-right: 0.1em;
  }
  .m-f-10-12,
  .m-f-5-6 {
    width: 83.33333%;
    padding: 0.1em;
  }
  .m-jn-10-12,
  .m-jn-5-6 {
    padding-left: 0.1em;
  }
  .m-jl-10-12,
  .m-jl-5-6 {
    padding-right: 0.1em;
  }
  .m-f-11-12 {
    width: 91.66667%;
    padding: 0.1em;
  }
  .m-jn-11-12 {
    padding-left: 0.1em;
  }
  .m-jl-11-12 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-1-11,
  .m-d-11>*,
  .m-f-11 {
    width: 9.09091%;
    padding: 0.1em;
  }
  .m-jn-1-11 {
    padding-left: 0.1em;
  }
  .m-jl-1-11 {
    padding-right: 0.1em;
  }
  .m-f-2-11 {
    width: 18.18182%;
    padding: 0.1em;
  }
  .m-jn-2-11 {
    padding-left: 0.1em;
  }
  .m-jl-2-11 {
    padding-right: 0.1em;
  }
  .m-f-3-11 {
    width: 27.27273%;
    padding: 0.1em;
  }
  .m-jn-3-11 {
    padding-left: 0.1em;
  }
  .m-jl-3-11 {
    padding-right: 0.1em;
  }
  .m-f-4-11 {
    width: 36.36364%;
    padding: 0.1em;
  }
  .m-jn-4-11 {
    padding-left: 0.1em;
  }
  .m-jl-4-11 {
    padding-right: 0.1em;
  }
  .m-f-5-11 {
    width: 45.45455%;
    padding: 0.1em;
  }
  .m-jn-5-11 {
    padding-left: 0.1em;
  }
  .m-jl-5-11 {
    padding-right: 0.1em;
  }
  .m-f-6-11 {
    width: 54.54545%;
    padding: 0.1em;
  }
  .m-jn-6-11 {
    padding-left: 0.1em;
  }
  .m-jl-6-11 {
    padding-right: 0.1em;
  }
  .m-f-7-11 {
    width: 63.63636%;
    padding: 0.1em;
  }
  .m-jn-7-11 {
    padding-left: 0.1em;
  }
  .m-jl-7-11 {
    padding-right: 0.1em;
  }
  .m-f-8-11 {
    width: 72.72727%;
    padding: 0.1em;
  }
  .m-jn-8-11 {
    padding-left: 0.1em;
  }
  .m-jl-8-11 {
    padding-right: 0.1em;
  }
  .m-f-9-11 {
    width: 81.81818%;
    padding: 0.1em;
  }
  .m-jn-9-11 {
    padding-left: 0.1em;
  }
  .m-jl-9-11 {
    padding-right: 0.1em;
  }
  .m-f-10-11 {
    width: 90.90909%;
    padding: 0.1em;
  }
  .m-jn-10-11 {
    padding-left: 0.1em;
  }
  .m-jl-10-11 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-1-10,
  .m-d-10>*,
  .m-f-10 {
    width: 10%;
    padding: 0.1em;
  }
  .m-jn-1-10 {
    padding-left: 0.1em;
  }
  .m-jl-1-10 {
    padding-right: 0.1em;
  }
  .m-f-2-10,
  .m-f-1-5,
  .m-d-5>*,
  .m-f-5 {
    width: 20%;
    padding: 0.1em;
  }
  .m-jn-2-10,
  .m-jn-1-5 {
    padding-left: 0.1em;
  }
  .m-jl-2-10,
  .m-jl-1-5 {
    padding-right: 0.1em;
  }
  .m-f-3-10 {
    width: 30%;
    padding: 0.1em;
  }
  .m-jn-3-10 {
    padding-left: 0.1em;
  }
  .m-jl-3-10 {
    padding-right: 0.1em;
  }
  .m-f-4-10,
  .m-f-2-5 {
    width: 40%;
    padding: 0.1em;
  }
  .m-jn-4-10,
  .m-jn-2-5 {
    padding-left: 0.1em;
  }
  .m-jl-4-10,
  .m-jl-2-5 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-6-10,
  .m-f-3-5 {
    width: 60%;
    padding: 0.1em;
  }
  .m-jn-6-10,
  .m-jn-3-5 {
    padding-left: 0.1em;
  }
  .m-jl-6-10,
  .m-jl-3-5 {
    padding-right: 0.1em;
  }
  .m-f-7-10 {
    width: 70%;
    padding: 0.1em;
  }
  .m-jn-7-10 {
    padding-left: 0.1em;
  }
  .m-jl-7-10 {
    padding-right: 0.1em;
  }
  .m-f-8-10,
  .m-f-4-5 {
    width: 80%;
    padding: 0.1em;
  }
  .m-jn-8-10,
  .m-jn-4-5 {
    padding-left: 0.1em;
  }
  .m-jl-8-10,
  .m-jl-4-5 {
    padding-right: 0.1em;
  }
  .m-f-9-10 {
    width: 90%;
    padding: 0.1em;
  }
  .m-jn-9-10 {
    padding-left: 0.1em;
  }
  .m-jl-9-10 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-1-9,
  .m-d-9>*,
  .m-f-9 {
    width: 11.11111%;
    padding: 0.1em;
  }
  .m-jn-1-9 {
    padding-left: 0.1em;
  }
  .m-jl-1-9 {
    padding-right: 0.1em;
  }
  .m-f-2-9 {
    width: 22.22222%;
    padding: 0.1em;
  }
  .m-jn-2-9 {
    padding-left: 0.1em;
  }
  .m-jl-2-9 {
    padding-right: 0.1em;
  }
  .m-f-4-12,
  .m-f-3-9,
  .m-f-2-6,
  .m-f-1-3,
  .m-d-3>*,
  .m-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .m-jn-4-12,
  .m-jn-3-9,
  .m-jn-2-6,
  .m-jn-1-3 {
    padding-left: 0.1em;
  }
  .m-jl-4-12,
  .m-jl-3-9,
  .m-jl-2-6,
  .m-jl-1-3 {
    padding-right: 0.1em;
  }
  .m-f-4-9 {
    width: 44.44444%;
    padding: 0.1em;
  }
  .m-jn-4-9 {
    padding-left: 0.1em;
  }
  .m-jl-4-9 {
    padding-right: 0.1em;
  }
  .m-f-5-9 {
    width: 55.55556%;
    padding: 0.1em;
  }
  .m-jn-5-9 {
    padding-left: 0.1em;
  }
  .m-jl-5-9 {
    padding-right: 0.1em;
  }
  .m-f-8-12,
  .m-f-6-9,
  .m-f-4-6,
  .m-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .m-jn-8-12,
  .m-jn-6-9,
  .m-jn-4-6,
  .m-jn-2-3 {
    padding-left: 0.1em;
  }
  .m-jl-8-12,
  .m-jl-6-9,
  .m-jl-4-6,
  .m-jl-2-3 {
    padding-right: 0.1em;
  }
  .m-f-7-9 {
    width: 77.77778%;
    padding: 0.1em;
  }
  .m-jn-7-9 {
    padding-left: 0.1em;
  }
  .m-jl-7-9 {
    padding-right: 0.1em;
  }
  .m-f-8-9 {
    width: 88.88889%;
    padding: 0.1em;
  }
  .m-jn-8-9 {
    padding-left: 0.1em;
  }
  .m-jl-8-9 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-1-8,
  .m-d-8>*,
  .m-f-8 {
    width: 12.5%;
    padding: 0.1em;
  }
  .m-jn-1-8 {
    padding-left: 0.1em;
  }
  .m-jl-1-8 {
    padding-right: 0.1em;
  }
  .m-f-3-12,
  .m-f-2-8,
  .m-f-1-4,
  .m-d-4>*,
  .m-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .m-jn-3-12,
  .m-jn-2-8,
  .m-jn-1-4 {
    padding-left: 0.1em;
  }
  .m-jl-3-12,
  .m-jl-2-8,
  .m-jl-1-4 {
    padding-right: 0.1em;
  }
  .m-f-3-8 {
    width: 37.5%;
    padding: 0.1em;
  }
  .m-jn-3-8 {
    padding-left: 0.1em;
  }
  .m-jl-3-8 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-5-8 {
    width: 62.5%;
    padding: 0.1em;
  }
  .m-jn-5-8 {
    padding-left: 0.1em;
  }
  .m-jl-5-8 {
    padding-right: 0.1em;
  }
  .m-f-9-12,
  .m-f-6-8,
  .m-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .m-jn-9-12,
  .m-jn-6-8,
  .m-jn-3-4 {
    padding-left: 0.1em;
  }
  .m-jl-9-12,
  .m-jl-6-8,
  .m-jl-3-4 {
    padding-right: 0.1em;
  }
  .m-f-7-8 {
    width: 87.5%;
    padding: 0.1em;
  }
  .m-jn-7-8 {
    padding-left: 0.1em;
  }
  .m-jl-7-8 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-1-7,
  .m-d-7>*,
  .m-f-7 {
    width: 14.28571%;
    padding: 0.1em;
  }
  .m-jn-1-7 {
    padding-left: 0.1em;
  }
  .m-jl-1-7 {
    padding-right: 0.1em;
  }
  .m-f-2-7 {
    width: 28.57143%;
    padding: 0.1em;
  }
  .m-jn-2-7 {
    padding-left: 0.1em;
  }
  .m-jl-2-7 {
    padding-right: 0.1em;
  }
  .m-f-3-7 {
    width: 42.85714%;
    padding: 0.1em;
  }
  .m-jn-3-7 {
    padding-left: 0.1em;
  }
  .m-jl-3-7 {
    padding-right: 0.1em;
  }
  .m-f-4-7 {
    width: 57.14286%;
    padding: 0.1em;
  }
  .m-jn-4-7 {
    padding-left: 0.1em;
  }
  .m-jl-4-7 {
    padding-right: 0.1em;
  }
  .m-f-5-7 {
    width: 71.42857%;
    padding: 0.1em;
  }
  .m-jn-5-7 {
    padding-left: 0.1em;
  }
  .m-jl-5-7 {
    padding-right: 0.1em;
  }
  .m-f-6-7 {
    width: 85.71429%;
    padding: 0.1em;
  }
  .m-jn-6-7 {
    padding-left: 0.1em;
  }
  .m-jl-6-7 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-2-12,
  .m-f-1-6,
  .m-d-6>*,
  .m-f-6 {
    width: 16.66667%;
    padding: 0.1em;
  }
  .m-jn-2-12,
  .m-jn-1-6 {
    padding-left: 0.1em;
  }
  .m-jl-2-12,
  .m-jl-1-6 {
    padding-right: 0.1em;
  }
  .m-f-4-12,
  .m-f-3-9,
  .m-f-2-6,
  .m-f-1-3,
  .m-d-3>*,
  .m-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .m-jn-4-12,
  .m-jn-3-9,
  .m-jn-2-6,
  .m-jn-1-3 {
    padding-left: 0.1em;
  }
  .m-jl-4-12,
  .m-jl-3-9,
  .m-jl-2-6,
  .m-jl-1-3 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-8-12,
  .m-f-6-9,
  .m-f-4-6,
  .m-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .m-jn-8-12,
  .m-jn-6-9,
  .m-jn-4-6,
  .m-jn-2-3 {
    padding-left: 0.1em;
  }
  .m-jl-8-12,
  .m-jl-6-9,
  .m-jl-4-6,
  .m-jl-2-3 {
    padding-right: 0.1em;
  }
  .m-f-10-12,
  .m-f-5-6 {
    width: 83.33333%;
    padding: 0.1em;
  }
  .m-jn-10-12,
  .m-jn-5-6 {
    padding-left: 0.1em;
  }
  .m-jl-10-12,
  .m-jl-5-6 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-2-10,
  .m-f-1-5,
  .m-d-5>*,
  .m-f-5 {
    width: 20%;
    padding: 0.1em;
  }
  .m-jn-2-10,
  .m-jn-1-5 {
    padding-left: 0.1em;
  }
  .m-jl-2-10,
  .m-jl-1-5 {
    padding-right: 0.1em;
  }
  .m-f-4-10,
  .m-f-2-5 {
    width: 40%;
    padding: 0.1em;
  }
  .m-jn-4-10,
  .m-jn-2-5 {
    padding-left: 0.1em;
  }
  .m-jl-4-10,
  .m-jl-2-5 {
    padding-right: 0.1em;
  }
  .m-f-6-10,
  .m-f-3-5 {
    width: 60%;
    padding: 0.1em;
  }
  .m-jn-6-10,
  .m-jn-3-5 {
    padding-left: 0.1em;
  }
  .m-jl-6-10,
  .m-jl-3-5 {
    padding-right: 0.1em;
  }
  .m-f-8-10,
  .m-f-4-5 {
    width: 80%;
    padding: 0.1em;
  }
  .m-jn-8-10,
  .m-jn-4-5 {
    padding-left: 0.1em;
  }
  .m-jl-8-10,
  .m-jl-4-5 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-3-12,
  .m-f-2-8,
  .m-f-1-4,
  .m-d-4>*,
  .m-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .m-jn-3-12,
  .m-jn-2-8,
  .m-jn-1-4 {
    padding-left: 0.1em;
  }
  .m-jl-3-12,
  .m-jl-2-8,
  .m-jl-1-4 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-9-12,
  .m-f-6-8,
  .m-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .m-jn-9-12,
  .m-jn-6-8,
  .m-jn-3-4 {
    padding-left: 0.1em;
  }
  .m-jl-9-12,
  .m-jl-6-8,
  .m-jl-3-4 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-4-12,
  .m-f-3-9,
  .m-f-2-6,
  .m-f-1-3,
  .m-d-3>*,
  .m-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .m-jn-4-12,
  .m-jn-3-9,
  .m-jn-2-6,
  .m-jn-1-3 {
    padding-left: 0.1em;
  }
  .m-jl-4-12,
  .m-jl-3-9,
  .m-jl-2-6,
  .m-jl-1-3 {
    padding-right: 0.1em;
  }
  .m-f-8-12,
  .m-f-6-9,
  .m-f-4-6,
  .m-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .m-jn-8-12,
  .m-jn-6-9,
  .m-jn-4-6,
  .m-jn-2-3 {
    padding-left: 0.1em;
  }
  .m-jl-8-12,
  .m-jl-6-9,
  .m-jl-4-6,
  .m-jl-2-3 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-6-12,
  .m-f-5-10,
  .m-f-4-8,
  .m-f-3-6,
  .m-f-2-4,
  .m-f-1-2,
  .m-d-2>*,
  .m-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .m-jn-6-12,
  .m-jn-5-10,
  .m-jn-4-8,
  .m-jn-3-6,
  .m-jn-2-4,
  .m-jn-1-2 {
    padding-left: 0.1em;
  }
  .m-jl-6-12,
  .m-jl-5-10,
  .m-jl-4-8,
  .m-jl-3-6,
  .m-jl-2-4,
  .m-jl-1-2 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
  .m-f-12-12,
  .m-f-equal:first-child:nth-last-child(12),
  .m-f-11-11,
  .m-f-equal:first-child:nth-last-child(11),
  .m-f-10-10,
  .m-f-equal:first-child:nth-last-child(10),
  .m-f-9-9,
  .m-f-equal:first-child:nth-last-child(9),
  .m-f-8-8,
  .m-f-equal:first-child:nth-last-child(8),
  .m-f-7-7,
  .m-f-equal:first-child:nth-last-child(7),
  .m-f-6-6,
  .m-f-equal:first-child:nth-last-child(6),
  .m-f-5-5,
  .m-f-equal:first-child:nth-last-child(5),
  .m-f-4-4,
  .m-f-equal:first-child:nth-last-child(4),
  .m-f-3-3,
  .m-f-equal:first-child:nth-last-child(3),
  .m-f-2-2,
  .m-f-equal:first-child:nth-last-child(2),
  .m-f-1-1,
  .m-d-1>*,
  .m-f-1,
  .m-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .m-jn-12-12,
  .m-jn-11-11,
  .m-jn-10-10,
  .m-jn-9-9,
  .m-jn-8-8,
  .m-jn-7-7,
  .m-jn-6-6,
  .m-jn-5-5,
  .m-jn-4-4,
  .m-jn-3-3,
  .m-jn-2-2,
  .m-jn-1-1 {
    padding-left: 0.1em;
  }
  .m-jl-12-12,
  .m-jl-11-11,
  .m-jl-10-10,
  .m-jl-9-9,
  .m-jl-8-8,
  .m-jl-7-7,
  .m-jl-6-6,
  .m-jl-5-5,
  .m-jl-4-4,
  .m-jl-3-3,
  .m-jl-2-2,
  .m-jl-1-1 {
    padding-right: 0.1em;
  }
}

@media (max-width: 480px) {
  .s-f-1-12,
  .s-d-12>*,
  .s-f-12 {
    width: 8.33333%;
    padding: 0.1em;
  }
  .s-jn-1-12 {
    padding-left: 0.1em;
  }
  .s-jl-1-12 {
    padding-right: 0.1em;
  }
  .s-f-2-12,
  .s-f-1-6,
  .s-d-6>*,
  .s-f-6 {
    width: 16.66667%;
    padding: 0.1em;
  }
  .s-jn-2-12,
  .s-jn-1-6 {
    padding-left: 0.1em;
  }
  .s-jl-2-12,
  .s-jl-1-6 {
    padding-right: 0.1em;
  }
  .s-f-3-12,
  .s-f-2-8,
  .s-f-1-4,
  .s-d-4>*,
  .s-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .s-jn-3-12,
  .s-jn-2-8,
  .s-jn-1-4 {
    padding-left: 0.1em;
  }
  .s-jl-3-12,
  .s-jl-2-8,
  .s-jl-1-4 {
    padding-right: 0.1em;
  }
  .s-f-4-12,
  .s-f-3-9,
  .s-f-2-6,
  .s-f-1-3,
  .s-d-3>*,
  .s-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .s-jn-4-12,
  .s-jn-3-9,
  .s-jn-2-6,
  .s-jn-1-3 {
    padding-left: 0.1em;
  }
  .s-jl-4-12,
  .s-jl-3-9,
  .s-jl-2-6,
  .s-jl-1-3 {
    padding-right: 0.1em;
  }
  .s-f-5-12 {
    width: 41.66667%;
    padding: 0.1em;
  }
  .s-jn-5-12 {
    padding-left: 0.1em;
  }
  .s-jl-5-12 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-7-12 {
    width: 58.33333%;
    padding: 0.1em;
  }
  .s-jn-7-12 {
    padding-left: 0.1em;
  }
  .s-jl-7-12 {
    padding-right: 0.1em;
  }
  .s-f-8-12,
  .s-f-6-9,
  .s-f-4-6,
  .s-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .s-jn-8-12,
  .s-jn-6-9,
  .s-jn-4-6,
  .s-jn-2-3 {
    padding-left: 0.1em;
  }
  .s-jl-8-12,
  .s-jl-6-9,
  .s-jl-4-6,
  .s-jl-2-3 {
    padding-right: 0.1em;
  }
  .s-f-9-12,
  .s-f-6-8,
  .s-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .s-jn-9-12,
  .s-jn-6-8,
  .s-jn-3-4 {
    padding-left: 0.1em;
  }
  .s-jl-9-12,
  .s-jl-6-8,
  .s-jl-3-4 {
    padding-right: 0.1em;
  }
  .s-f-10-12,
  .s-f-5-6 {
    width: 83.33333%;
    padding: 0.1em;
  }
  .s-jn-10-12,
  .s-jn-5-6 {
    padding-left: 0.1em;
  }
  .s-jl-10-12,
  .s-jl-5-6 {
    padding-right: 0.1em;
  }
  .s-f-11-12 {
    width: 91.66667%;
    padding: 0.1em;
  }
  .s-jn-11-12 {
    padding-left: 0.1em;
  }
  .s-jl-11-12 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-1-11,
  .s-d-11>*,
  .s-f-11 {
    width: 9.09091%;
    padding: 0.1em;
  }
  .s-jn-1-11 {
    padding-left: 0.1em;
  }
  .s-jl-1-11 {
    padding-right: 0.1em;
  }
  .s-f-2-11 {
    width: 18.18182%;
    padding: 0.1em;
  }
  .s-jn-2-11 {
    padding-left: 0.1em;
  }
  .s-jl-2-11 {
    padding-right: 0.1em;
  }
  .s-f-3-11 {
    width: 27.27273%;
    padding: 0.1em;
  }
  .s-jn-3-11 {
    padding-left: 0.1em;
  }
  .s-jl-3-11 {
    padding-right: 0.1em;
  }
  .s-f-4-11 {
    width: 36.36364%;
    padding: 0.1em;
  }
  .s-jn-4-11 {
    padding-left: 0.1em;
  }
  .s-jl-4-11 {
    padding-right: 0.1em;
  }
  .s-f-5-11 {
    width: 45.45455%;
    padding: 0.1em;
  }
  .s-jn-5-11 {
    padding-left: 0.1em;
  }
  .s-jl-5-11 {
    padding-right: 0.1em;
  }
  .s-f-6-11 {
    width: 54.54545%;
    padding: 0.1em;
  }
  .s-jn-6-11 {
    padding-left: 0.1em;
  }
  .s-jl-6-11 {
    padding-right: 0.1em;
  }
  .s-f-7-11 {
    width: 63.63636%;
    padding: 0.1em;
  }
  .s-jn-7-11 {
    padding-left: 0.1em;
  }
  .s-jl-7-11 {
    padding-right: 0.1em;
  }
  .s-f-8-11 {
    width: 72.72727%;
    padding: 0.1em;
  }
  .s-jn-8-11 {
    padding-left: 0.1em;
  }
  .s-jl-8-11 {
    padding-right: 0.1em;
  }
  .s-f-9-11 {
    width: 81.81818%;
    padding: 0.1em;
  }
  .s-jn-9-11 {
    padding-left: 0.1em;
  }
  .s-jl-9-11 {
    padding-right: 0.1em;
  }
  .s-f-10-11 {
    width: 90.90909%;
    padding: 0.1em;
  }
  .s-jn-10-11 {
    padding-left: 0.1em;
  }
  .s-jl-10-11 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-1-10,
  .s-d-10>*,
  .s-f-10 {
    width: 10%;
    padding: 0.1em;
  }
  .s-jn-1-10 {
    padding-left: 0.1em;
  }
  .s-jl-1-10 {
    padding-right: 0.1em;
  }
  .s-f-2-10,
  .s-f-1-5,
  .s-d-5>*,
  .s-f-5 {
    width: 20%;
    padding: 0.1em;
  }
  .s-jn-2-10,
  .s-jn-1-5 {
    padding-left: 0.1em;
  }
  .s-jl-2-10,
  .s-jl-1-5 {
    padding-right: 0.1em;
  }
  .s-f-3-10 {
    width: 30%;
    padding: 0.1em;
  }
  .s-jn-3-10 {
    padding-left: 0.1em;
  }
  .s-jl-3-10 {
    padding-right: 0.1em;
  }
  .s-f-4-10,
  .s-f-2-5 {
    width: 40%;
    padding: 0.1em;
  }
  .s-jn-4-10,
  .s-jn-2-5 {
    padding-left: 0.1em;
  }
  .s-jl-4-10,
  .s-jl-2-5 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-6-10,
  .s-f-3-5 {
    width: 60%;
    padding: 0.1em;
  }
  .s-jn-6-10,
  .s-jn-3-5 {
    padding-left: 0.1em;
  }
  .s-jl-6-10,
  .s-jl-3-5 {
    padding-right: 0.1em;
  }
  .s-f-7-10 {
    width: 70%;
    padding: 0.1em;
  }
  .s-jn-7-10 {
    padding-left: 0.1em;
  }
  .s-jl-7-10 {
    padding-right: 0.1em;
  }
  .s-f-8-10,
  .s-f-4-5 {
    width: 80%;
    padding: 0.1em;
  }
  .s-jn-8-10,
  .s-jn-4-5 {
    padding-left: 0.1em;
  }
  .s-jl-8-10,
  .s-jl-4-5 {
    padding-right: 0.1em;
  }
  .s-f-9-10 {
    width: 90%;
    padding: 0.1em;
  }
  .s-jn-9-10 {
    padding-left: 0.1em;
  }
  .s-jl-9-10 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-1-9,
  .s-d-9>*,
  .s-f-9 {
    width: 11.11111%;
    padding: 0.1em;
  }
  .s-jn-1-9 {
    padding-left: 0.1em;
  }
  .s-jl-1-9 {
    padding-right: 0.1em;
  }
  .s-f-2-9 {
    width: 22.22222%;
    padding: 0.1em;
  }
  .s-jn-2-9 {
    padding-left: 0.1em;
  }
  .s-jl-2-9 {
    padding-right: 0.1em;
  }
  .s-f-4-12,
  .s-f-3-9,
  .s-f-2-6,
  .s-f-1-3,
  .s-d-3>*,
  .s-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .s-jn-4-12,
  .s-jn-3-9,
  .s-jn-2-6,
  .s-jn-1-3 {
    padding-left: 0.1em;
  }
  .s-jl-4-12,
  .s-jl-3-9,
  .s-jl-2-6,
  .s-jl-1-3 {
    padding-right: 0.1em;
  }
  .s-f-4-9 {
    width: 44.44444%;
    padding: 0.1em;
  }
  .s-jn-4-9 {
    padding-left: 0.1em;
  }
  .s-jl-4-9 {
    padding-right: 0.1em;
  }
  .s-f-5-9 {
    width: 55.55556%;
    padding: 0.1em;
  }
  .s-jn-5-9 {
    padding-left: 0.1em;
  }
  .s-jl-5-9 {
    padding-right: 0.1em;
  }
  .s-f-8-12,
  .s-f-6-9,
  .s-f-4-6,
  .s-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .s-jn-8-12,
  .s-jn-6-9,
  .s-jn-4-6,
  .s-jn-2-3 {
    padding-left: 0.1em;
  }
  .s-jl-8-12,
  .s-jl-6-9,
  .s-jl-4-6,
  .s-jl-2-3 {
    padding-right: 0.1em;
  }
  .s-f-7-9 {
    width: 77.77778%;
    padding: 0.1em;
  }
  .s-jn-7-9 {
    padding-left: 0.1em;
  }
  .s-jl-7-9 {
    padding-right: 0.1em;
  }
  .s-f-8-9 {
    width: 88.88889%;
    padding: 0.1em;
  }
  .s-jn-8-9 {
    padding-left: 0.1em;
  }
  .s-jl-8-9 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-1-8,
  .s-d-8>*,
  .s-f-8 {
    width: 12.5%;
    padding: 0.1em;
  }
  .s-jn-1-8 {
    padding-left: 0.1em;
  }
  .s-jl-1-8 {
    padding-right: 0.1em;
  }
  .s-f-3-12,
  .s-f-2-8,
  .s-f-1-4,
  .s-d-4>*,
  .s-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .s-jn-3-12,
  .s-jn-2-8,
  .s-jn-1-4 {
    padding-left: 0.1em;
  }
  .s-jl-3-12,
  .s-jl-2-8,
  .s-jl-1-4 {
    padding-right: 0.1em;
  }
  .s-f-3-8 {
    width: 37.5%;
    padding: 0.1em;
  }
  .s-jn-3-8 {
    padding-left: 0.1em;
  }
  .s-jl-3-8 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-5-8 {
    width: 62.5%;
    padding: 0.1em;
  }
  .s-jn-5-8 {
    padding-left: 0.1em;
  }
  .s-jl-5-8 {
    padding-right: 0.1em;
  }
  .s-f-9-12,
  .s-f-6-8,
  .s-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .s-jn-9-12,
  .s-jn-6-8,
  .s-jn-3-4 {
    padding-left: 0.1em;
  }
  .s-jl-9-12,
  .s-jl-6-8,
  .s-jl-3-4 {
    padding-right: 0.1em;
  }
  .s-f-7-8 {
    width: 87.5%;
    padding: 0.1em;
  }
  .s-jn-7-8 {
    padding-left: 0.1em;
  }
  .s-jl-7-8 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-1-7,
  .s-d-7>*,
  .s-f-7 {
    width: 14.28571%;
    padding: 0.1em;
  }
  .s-jn-1-7 {
    padding-left: 0.1em;
  }
  .s-jl-1-7 {
    padding-right: 0.1em;
  }
  .s-f-2-7 {
    width: 28.57143%;
    padding: 0.1em;
  }
  .s-jn-2-7 {
    padding-left: 0.1em;
  }
  .s-jl-2-7 {
    padding-right: 0.1em;
  }
  .s-f-3-7 {
    width: 42.85714%;
    padding: 0.1em;
  }
  .s-jn-3-7 {
    padding-left: 0.1em;
  }
  .s-jl-3-7 {
    padding-right: 0.1em;
  }
  .s-f-4-7 {
    width: 57.14286%;
    padding: 0.1em;
  }
  .s-jn-4-7 {
    padding-left: 0.1em;
  }
  .s-jl-4-7 {
    padding-right: 0.1em;
  }
  .s-f-5-7 {
    width: 71.42857%;
    padding: 0.1em;
  }
  .s-jn-5-7 {
    padding-left: 0.1em;
  }
  .s-jl-5-7 {
    padding-right: 0.1em;
  }
  .s-f-6-7 {
    width: 85.71429%;
    padding: 0.1em;
  }
  .s-jn-6-7 {
    padding-left: 0.1em;
  }
  .s-jl-6-7 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-2-12,
  .s-f-1-6,
  .s-d-6>*,
  .s-f-6 {
    width: 16.66667%;
    padding: 0.1em;
  }
  .s-jn-2-12,
  .s-jn-1-6 {
    padding-left: 0.1em;
  }
  .s-jl-2-12,
  .s-jl-1-6 {
    padding-right: 0.1em;
  }
  .s-f-4-12,
  .s-f-3-9,
  .s-f-2-6,
  .s-f-1-3,
  .s-d-3>*,
  .s-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .s-jn-4-12,
  .s-jn-3-9,
  .s-jn-2-6,
  .s-jn-1-3 {
    padding-left: 0.1em;
  }
  .s-jl-4-12,
  .s-jl-3-9,
  .s-jl-2-6,
  .s-jl-1-3 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-8-12,
  .s-f-6-9,
  .s-f-4-6,
  .s-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .s-jn-8-12,
  .s-jn-6-9,
  .s-jn-4-6,
  .s-jn-2-3 {
    padding-left: 0.1em;
  }
  .s-jl-8-12,
  .s-jl-6-9,
  .s-jl-4-6,
  .s-jl-2-3 {
    padding-right: 0.1em;
  }
  .s-f-10-12,
  .s-f-5-6 {
    width: 83.33333%;
    padding: 0.1em;
  }
  .s-jn-10-12,
  .s-jn-5-6 {
    padding-left: 0.1em;
  }
  .s-jl-10-12,
  .s-jl-5-6 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-2-10,
  .s-f-1-5,
  .s-d-5>*,
  .s-f-5 {
    width: 20%;
    padding: 0.1em;
  }
  .s-jn-2-10,
  .s-jn-1-5 {
    padding-left: 0.1em;
  }
  .s-jl-2-10,
  .s-jl-1-5 {
    padding-right: 0.1em;
  }
  .s-f-4-10,
  .s-f-2-5 {
    width: 40%;
    padding: 0.1em;
  }
  .s-jn-4-10,
  .s-jn-2-5 {
    padding-left: 0.1em;
  }
  .s-jl-4-10,
  .s-jl-2-5 {
    padding-right: 0.1em;
  }
  .s-f-6-10,
  .s-f-3-5 {
    width: 60%;
    padding: 0.1em;
  }
  .s-jn-6-10,
  .s-jn-3-5 {
    padding-left: 0.1em;
  }
  .s-jl-6-10,
  .s-jl-3-5 {
    padding-right: 0.1em;
  }
  .s-f-8-10,
  .s-f-4-5 {
    width: 80%;
    padding: 0.1em;
  }
  .s-jn-8-10,
  .s-jn-4-5 {
    padding-left: 0.1em;
  }
  .s-jl-8-10,
  .s-jl-4-5 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-3-12,
  .s-f-2-8,
  .s-f-1-4,
  .s-d-4>*,
  .s-f-4 {
    width: 25%;
    padding: 0.1em;
  }
  .s-jn-3-12,
  .s-jn-2-8,
  .s-jn-1-4 {
    padding-left: 0.1em;
  }
  .s-jl-3-12,
  .s-jl-2-8,
  .s-jl-1-4 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-9-12,
  .s-f-6-8,
  .s-f-3-4 {
    width: 75%;
    padding: 0.1em;
  }
  .s-jn-9-12,
  .s-jn-6-8,
  .s-jn-3-4 {
    padding-left: 0.1em;
  }
  .s-jl-9-12,
  .s-jl-6-8,
  .s-jl-3-4 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-4-12,
  .s-f-3-9,
  .s-f-2-6,
  .s-f-1-3,
  .s-d-3>*,
  .s-f-3 {
    width: 33.33333%;
    padding: 0.1em;
  }
  .s-jn-4-12,
  .s-jn-3-9,
  .s-jn-2-6,
  .s-jn-1-3 {
    padding-left: 0.1em;
  }
  .s-jl-4-12,
  .s-jl-3-9,
  .s-jl-2-6,
  .s-jl-1-3 {
    padding-right: 0.1em;
  }
  .s-f-8-12,
  .s-f-6-9,
  .s-f-4-6,
  .s-f-2-3 {
    width: 66.66667%;
    padding: 0.1em;
  }
  .s-jn-8-12,
  .s-jn-6-9,
  .s-jn-4-6,
  .s-jn-2-3 {
    padding-left: 0.1em;
  }
  .s-jl-8-12,
  .s-jl-6-9,
  .s-jl-4-6,
  .s-jl-2-3 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-6-12,
  .s-f-5-10,
  .s-f-4-8,
  .s-f-3-6,
  .s-f-2-4,
  .s-f-1-2,
  .s-d-2>*,
  .s-f-2 {
    width: 50%;
    padding: 0.1em;
  }
  .s-jn-6-12,
  .s-jn-5-10,
  .s-jn-4-8,
  .s-jn-3-6,
  .s-jn-2-4,
  .s-jn-1-2 {
    padding-left: 0.1em;
  }
  .s-jl-6-12,
  .s-jl-5-10,
  .s-jl-4-8,
  .s-jl-3-6,
  .s-jl-2-4,
  .s-jl-1-2 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
  .s-f-12-12,
  .s-f-equal:first-child:nth-last-child(12),
  .s-f-11-11,
  .s-f-equal:first-child:nth-last-child(11),
  .s-f-10-10,
  .s-f-equal:first-child:nth-last-child(10),
  .s-f-9-9,
  .s-f-equal:first-child:nth-last-child(9),
  .s-f-8-8,
  .s-f-equal:first-child:nth-last-child(8),
  .s-f-7-7,
  .s-f-equal:first-child:nth-last-child(7),
  .s-f-6-6,
  .s-f-equal:first-child:nth-last-child(6),
  .s-f-5-5,
  .s-f-equal:first-child:nth-last-child(5),
  .s-f-4-4,
  .s-f-equal:first-child:nth-last-child(4),
  .s-f-3-3,
  .s-f-equal:first-child:nth-last-child(3),
  .s-f-2-2,
  .s-f-equal:first-child:nth-last-child(2),
  .s-f-1-1,
  .s-d-1>*,
  .s-f-1,
  .s-f-equal:first-child:nth-last-child(1) {
    width: 100%;
    padding: 0.1em;
  }
  .s-jn-12-12,
  .s-jn-11-11,
  .s-jn-10-10,
  .s-jn-9-9,
  .s-jn-8-8,
  .s-jn-7-7,
  .s-jn-6-6,
  .s-jn-5-5,
  .s-jn-4-4,
  .s-jn-3-3,
  .s-jn-2-2,
  .s-jn-1-1 {
    padding-left: 0.1em;
  }
  .s-jl-12-12,
  .s-jl-11-11,
  .s-jl-10-10,
  .s-jl-9-9,
  .s-jl-8-8,
  .s-jl-7-7,
  .s-jl-6-6,
  .s-jl-5-5,
  .s-jl-4-4,
  .s-jl-3-3,
  .s-jl-2-2,
  .s-jl-1-1 {
    padding-right: 0.1em;
  }
}

.fit {
  height: 100%;
  width: 100%;
}

.group {
  margin: 0;
  padding: 0;
}

.inline *,
.inline {
  width: initial;
  clear: both;
}

.jr-1 {
  margin-top: 2.2em;
}

.jr-2 {
  margin-top: 4.4em;
}

.jr-3 {
  margin-top: 6.6em;
}

.jr-4 {
  margin-top: 8.8em;
}

.jr-5 {
  margin-top: 11em;
}

.jr-6 {
  margin-top: 13.2em;
}

.jr-7 {
  margin-top: 15.4em;
}

.jr-8 {
  margin-top: 17.6em;
}

.jr-9 {
  margin-top: 19.8em;
}

.jr-10 {
  margin-top: 22em;
}

.jr-11 {
  margin-top: 24.2em;
}

.jr-12 {
  margin-top: 26.4em;
}

div>.fr {
  height: 100%;
}

fieldset>.fr {
  height: 90%;
}

.fr-1 {
  height: 4.2em;
}

fieldset.fr-1 {
  height: 3.1em;
}

.fr-2 {
  height: 6.4em;
}

fieldset.fr-2 {
  height: 5.3em;
}

.fr-3 {
  height: 8.6em;
}

fieldset.fr-3 {
  height: 7.5em;
}

.fr-4 {
  height: 10.8em;
}

fieldset.fr-4 {
  height: 9.7em;
}

.fr-5 {
  height: 13em;
}

fieldset.fr-5 {
  height: 11.9em;
}

.fr-6 {
  height: 15.2em;
}

fieldset.fr-6 {
  height: 14.1em;
}

.fr-7 {
  height: 17.4em;
}

fieldset.fr-7 {
  height: 16.3em;
}

.fr-8 {
  height: 19.6em;
}

fieldset.fr-8 {
  height: 18.5em;
}

.fr-9 {
  height: 21.8em;
}

fieldset.fr-9 {
  height: 20.7em;
}

.fr-10 {
  height: 24em;
}

fieldset.fr-10 {
  height: 22.9em;
}

.fr-11 {
  height: 26.2em;
}

fieldset.fr-11 {
  height: 25.1em;
}

.fr-12 {
  height: 28.4em;
}

fieldset.fr-12 {
  height: 27.3em;
}